{{ define "version-doc" }}
<div class="mb-6 prose dark:prose-invert prose-sm">
    <p>{{ t .Localizer "docs.title" }} {{ .Version }}:</p>
    <ul>
        <li><a target="_blank" href="https://docs.siderolabs.com/talos/{{ short_version .Version }}/getting-started/what's-new-in-talos/">{{ t .Localizer "docs.new" }}</a></li>
        <li><a target="_blank" href="https://docs.siderolabs.com/talos/{{ short_version .Version }}/getting-started/support-matrix/">{{ t .Localizer "docs.matrix" }}</a></li>
    </ul>
</div>
{{ end }}

{{ template "version-doc" . }}
