{{ define "version-doc" }}
<div class="mb-6 prose dark:prose-invert prose-sm">
    <p>{{ t .Localizer "docs.title" }} {{ .Version }}:</p>
    <ul>
        <li><a target="_blank" href="https://www.talos.dev/{{ short_version .Version }}/introduction/what-is-new/">{{ t .Localizer "docs.new" }}</a></li>
        <li><a target="_blank" href="https://www.talos.dev/{{ short_version .Version }}/introduction/support-matrix/">{{ t .Localizer "docs.matrix" }}</a></li>
    </ul>
</div>
{{ end }}

{{ template "version-doc" . }}
