{{ define "wizard-sbc" }}
{{ template "hidden-inputs" . }}
{{ template "header" (t .Localizer "singleboard.title") }}
<div class="mb-6">
    {{ range .SBCs }}
    {{ template "radio-with-description" dict "name" "board" "value" .Name "current" $.SelectedBoard "label" .Label "description" (dynamic_template "board-description" (dict "Board" . "Version" $.Version "Localizer" $.Localizer))  }}
    {{ end }}

    <div class="flex gap-4">
        {{ template "back-button" (dict "Params" "target,selected-version" "Localizer" .Localizer) }}
        {{ template "next-button" . }}
    </div>
</div>
{{ end }}

{{ template "wizard-sbc" . }}
