{{ define "wizard-cloud" }}
{{ template "hidden-inputs" . }}
{{ template "header" (t .Localizer "cloud.title") }}
<div class="mb-6 space-y-2">
    {{ range .Platforms }}
    {{ template "radio-with-description" dict "name" "platform" "value" .Name "current" $.SelectedPlatform "label" .Label "description" (dynamic_template "platform-description" (dict "Platform" . "Version" $.Version "Localizer" $.Localizer)) }}
    {{ end }}

    <div class="sticky bottom-0 z-10 -mx-6 mt-6 flex gap-3 border-t border-gray-200 bg-white/90 px-6 py-4 backdrop-blur dark:border-naturals-n5 dark:bg-naturals-n0/90">
        {{ template "back-button" (dict "Params" "target,selected-version" "Localizer" .Localizer) }}
        {{ template "next-button" . }}
    </div>
</div>
{{ end }}

{{ template "wizard-cloud" . }}
