{{ define "wizard-cmdline" }}
{{ template "hidden-inputs" . }}
{{ template "header" "Customization" }}
<div class="mb-6">
    <div class="mb-6">
        <label for="extra-args" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            Extra kernel command line arguments:
        </label>
        <input id="extra-args" name="cmdline" value="{{ .SelectedCmdline }}"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="-console console=tty0"
            >
        <input name="cmdline-set" type="hidden" value="1">
    </div>

    <div class="ms-2 prose dark:prose-invert prose-sm">
        <p>
            This step allows to customize the default <a target="_blank" href="https://www.talos.dev/{{ short_version .Version }}/reference/kernel/">kernel command line arguments</a>.
        </p>
        <p>
            The syntax accepted is the same as the kernel command line syntax, e.g. <code>console=ttyS0,115200</code>, but prefixing the argument with <code>-</code> removes the argument from the default command line (e.g. <code>-console</code>).
        </p>
        {{ if eq .SecureBoot "true" }}
        <p>With SecureBoot, the kernel command line is signed and cannot be modified, so this is the only opportunity to customize it.</p>
        {{ else }}
        <p>
            Please note, that the kernel command line customization is only accepted for the initial boot images (ISO, PXE, disk image), and
            ignored for <code>installer</code> images. For the upgrade/install command line customization, use the <code>machine.install.extraKernelArgs</code> machine
            configuration field.
        </p>
        {{ end }}
        <p>
            Skip this step if unsure.
        </p>
    </div>

    {{ if .OverlayOptionsEnabled }}
    <div class="mb-6 mt-6">
        <label for="extra-overlay-options" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            Extra overlay options (advanced):
        </label>
        <textarea id="extra-overlay-options" name="overlay-options"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full h-16 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="configTxtAppend: 'dtoverlay=vc4-fkms-v3d'"
        >{{ .SelectedOverlayOptions }}</textarea>
    </div>

    <div class="ms-2 prose dark:prose-invert prose-sm">
        <p>
            This step allows to customize the overlay options for <a target="_blank" href="https://github.com/{{ .BoardMeta.OverlayImage }}">{{ .BoardMeta.OverlayImage }} overlay</a>.
        </p>
        <p>
            The syntax accepted is the YAML (JSON) key-value pairs.
            The list of options available is specific to the overlay image used, and can be found in the overlay image documentation.
        </p>
        <p>
            Skip this step if unsure.
        </p>
    </div>
    {{ end }}

    <div class="flex gap-4">
        {{ template "back-button" "target,version,platform,board,arch,secureboot,selected-extensions" }}
        {{ template "next-button" }}
    </div>
</div>
{{ end }}

{{ template "wizard-cmdline" . }}
