{{ define "wizard-cloud" }}
{{ template "hidden-inputs" . }}
{{ template "header" "Cloud" }}
<div class="mb-6">
    {{ range .Platforms }}
    {{ template "radio-with-description" dict "name" "platform" "value" .Name "current" $.SelectedPlatform "label" .Label "description" (dynamic_template "platform-description" (dict "Platform" . "Version" $.Version)) }}
    {{ end }}

    <div class="flex gap-4">
        {{ template "back-button" "target,selected-version" }}
        {{ template "next-button" }}
    </div>
</div>
{{ end }}

{{ template "wizard-cloud" . }}
