{{ define "wizard-start" }}
{{ template "header" (t .Localizer "hardware.title") }}
<div class="mb-6">
    {{ template "radio-with-description" dict "name" "target" "value" "metal" "current" .SelectedTarget "label" (t .Localizer "hardware.bmm.name") "description" (t .Localizer "hardware.bmm.description") }}
    {{ template "radio-with-description" dict "name" "target" "value" "cloud" "current" .SelectedTarget "label" (t .Localizer "hardware.cs.name") "description" (t .Localizer "hardware.cs.description") }}
    {{ template "radio-with-description" dict "name" "target" "value" "sbc" "current" .SelectedTarget "label" (t .Localizer "hardware.sbc.name") "description" (t .Localizer "hardware.sbc.description") }}
    {{ template "next-button" . }}
</div>
{{ end }}

{{ template "wizard-start" . }}
