{{ define "wizard-cmdline" }}
{{ template "hidden-inputs" . }}
{{ template "header" (t .Localizer "customization.title") }}
<div class="mb-6">
    <div class="mb-6">
        <label for="extra-args" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            {{ t .Localizer "customization.cmdline" }}
        </label>
        <input id="extra-args" name="cmdline" value="{{ .SelectedCmdline }}"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="-console console=tty0"
            >
        <input name="cmdline-set" type="hidden" value="1">
    </div>

    <div class="ms-2 prose dark:prose-invert prose-sm">
        <p>
            {{ t .Localizer "customization.cmdline.description" }}<a target="_blank" href="https://www.talos.dev/{{ short_version .Version }}/reference/kernel/">{{ t .Localizer "customization.cmdline.arguments" }}</a>.
        </p>
        <p>
            {{ t .Localizer "customization.cmdline.example" }}<code>console=ttyS0,115200</code>{{ t .Localizer "customization.cmdline.prefix" }}<code>-</code>{{ t .Localizer "customization.cmdline.removes" }}<code>-console</code>).
        </p>
        {{ if eq .SecureBoot "true" }}
        <p>{{ t .Localizer "customization.cmdline.secure_boot" }}</p>
        {{ else if version_less .Version "v1.10.0" }}
        <p>
            {{ t .Localizer "customization.cmdline.note" }}<code>installer</code>{{ t .Localizer "customization.cmdline.upgrade" }}<code>machine.install.extraKernelArgs</code>{{ t .Localizer "customization.cmdline.configuration" }}
        </p>
        {{ end }}
        <p>
            {{ t .Localizer "customization.cmdline.skip" }}
        </p>
    </div>

    {{ if .OverlayOptionsEnabled }}
    <div class="mb-6 mt-6">
        <label for="extra-overlay-options" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            {{ t .Localizer "customization.overlay" }}
        </label>
        <textarea id="extra-overlay-options" name="overlay-options"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full h-16 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="configTxtAppend: 'dtoverlay=vc4-fkms-v3d'"
        >{{ .SelectedOverlayOptions }}</textarea>
    </div>

    <div class="ms-2 prose dark:prose-invert prose-sm">
        <p>
            {{ t .Localizer "customization.overlay.description" }}<a target="_blank" href="https://github.com/{{ .BoardMeta.OverlayImage }}">{{ .BoardMeta.OverlayImage }} {{ t .Localizer "customization.overlay.name" }}</a>.
        </p>
        <p>
            {{ t .Localizer "customization.overlay.syntax" }}
        </p>
        <p>
            {{ t .Localizer "customization.overlay.skip" }}
        </p>
    </div>
    {{ end }}

    <div class="flex gap-4">
        {{ template "back-button" (dict "Params" "target,version,platform,board,arch,secureboot,selected-extensions" "Localizer" .Localizer) }}
        {{ template "next-button" . }}
    </div>
</div>
{{ end }}

{{ template "wizard-cmdline" . }}
