apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "image-factory.fullname" . }}
  namespace: {{ include "image-factory.namespace" . }}
  labels:
    {{- include "image-factory.labels" . | nindent 4 }}
data:
  config.yaml: |
    {{- .Values.config | toYamlPretty | nindent 4 }}
